@import "~react-image-gallery/styles/css/image-gallery.css";


a:hover {
  text-decoration: none;
}

*{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* ****************** general rules ***************** */
.vertical-layout,
.horizontal-layout {
  display: flex;
  flex:1;
}
.horizontal-layout { flex-direction: row; }
.vertical-layout { flex-direction: column; }

.mycontainer {
    padding-left: 5%;
    padding-right: 5%;
    background-color: transparent;
}

.screen {
  padding: 30px 5%;
}

