.footer-social-icons {
    width: 250px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    left: 0;
    background: #333333;
    border-radius: 7px 7px 0 0;
    vertical-align: middle;

}

.mytext {
    color: antiquewhite;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 12px;
    margin-left: 15px;
    margin-right: 5px;
    display: inline;
    vertical-align: middle;
}

ul {
    padding:0;
    display: inline;
    list-style: none;
}

ul.social-icons {
    margin-top: 10px;
}

li {
    vertical-align: top;
    display: inline;
    vertical-align: middle;
}

.social-icon {
    width: 26px;
    height: 26px;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
}




