.search-input{
    height: 35px;
    width: 410px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-indent: 10px;
    border: none;
    transition: 0.2s all;
}
.search-input:focus{
    border: none;
    outline:none;
    box-shadow:  3px 3px 3px rgba(216, 139, 39, 0.63);
    transition: 0.2s all;
}

.search-btn{
    width: 40px;
    height: 35px;
    background-color: #febd69;
    color: #333333;
    font-weight: bold;
    border:none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transition: 0.2s all;
}
.search-btn:hover,
.search-btn:focus
{
    background-color: hsl(36, 71%, 50%);
    box-shadow:  1px 1px 3px rgba(216, 139, 39, 0.63);
    border: none;
    outline:none;
    transition: 0.2s all;
}


