
.recomnded-products-container .slider-product-wrapper{
    width: 84%;
    height: 350px;
    margin: 0px auto;
}

.recomnded-products-container {
    width: 84%;
    height: 350px;
    margin: 0px auto;
}

.recomnded-products-container .slider-product-wrapper .slider-product-card {
    width: 300px;
    height: 350px;
    display: inline-block;
}

.clearfix{
    width: 100%;
}

.recomnded-products-container .product-details  {
    padding: 10px 0px 15px 0px;
    height: auto;
}

.recomnded-products-container .product-details h5 {
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
}

.recomnded-products-container .product-details h6 {
    text-align: center;
    color: black;
    font-size: 12px;
    padding: 0px 0px 5px 0px;
    margin: 0px 0px 0px 0px;
}

.recomnded-products-container .mylink:hover{
    text-decoration: none;
}