.ReviewSection{
    margin-top: 50px;
}

.Heading {
    display: flex;
    text-align: start;
    margin-bottom: 10px;
}
.Heading h5 {
    flex: 2;
}

.Heading h6 {
    flex: 3;
    color: #89a7ce;
}



