.navbar-container{
    background-color: #232f3e;
    display: flex;
    flex-direction: row;
    height:80px;
    justify-content: space-between;
    padding: 10px;
}
.navbar-container a:hover{
    text-decoration: none;
}

.navbar-container .container{
    background-color: #232f3e;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.navbar-container .searchbar-wrapper{
    width:450px;
    box-sizing: content-box;
}

.navbar-container .nav-element {
    color: white;
    display: block;
    font-weight: bold;
    height: 60px;
    margin-right: 20px;
    cursor: pointer;
    font-family: Roboto,-apple-system,BlinkMacSystemFont,"Segoe UI","Helvetica Neue",Arial,sans-serif;
}
.navbar-container .nav-element a {
    color:white;
}
.navbar-container .nav-element p {
    margin: 0px 0px 0px 0px;
    font-size: 14px;
    width: 100%;
    height: auto;
    padding: 0px 10px;
}
.navbar-container .nav-element span {
    color: #bebdbd;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.navbar-container .nav-element p:hover{
    background-color: #1a3f6e;
    /* color: black; */
    border-top: solid 3px #DF9F28;
}

.navbar-container .shop-now-btn i {
    color:  #DF9F28;
    font-size: 20px;
}
.navbar-container .shop-now-btn {
    background-color: transparent;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    padding-left: 0px;
}


/* *********************  user item ********************** */
.navbar-container .user-item {
    color: white;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
}

.navbar-container .user-item .overlay {
    position: relative;
    background-color: #ffffff;
    color: black;
    border: 1px solid #d7d2c4;
    height: auto;
    z-index: 3;
}

.navbar-container .user-item div:last-child {
 border-top: solid 0.2px #febd69;
}

.navbar-container .user-item .overlay-item button {
    width: 100%;
    height: 40px;
    color: black;
    display: block;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    padding-top: 0px;
}

.navbar-container .user-item .overlay-item a {
    width: 100%;
    height: 40px;
    color: black;
    display: block;
    padding-left: 20px;
    padding-top: 5px;
    background-color: transparent;
    border: none;
}
.navbar-container .user-item .overlay .overlay-item a:hover,
.navbar-container .user-item .overlay-item button:hover
{
    text-decoration: none;
    background-color: #fff6e0;
    color: #f68b1e;
}


.navbar-container .user-item .overlay:after {
  position: absolute;
  top:-3%;
  left:87%;
  width:10px;
  height:10px;
  background-color: white;
  border-top: 1px solid #d7d2c4;
  border-right: 0px solid #d7d2c4;
  border-bottom: 0px solid #d7d2c4;
  border-left: 1px solid #d7d2c4;
  content:"";
  transform: rotate(45deg);
}

