


.login-input {
    width:195px;
    height: 30px;

    border-radius: 3px;
    border-width: 1px;
    border-style: inset;
    border:#DCD6CC 1px solid;

    padding: 1px 0px;

    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-transform: none;
    text-indent: 10px;

    cursor: text;

    transition: all 0.30s ease-in-out;
}

.login-input:focus {
    box-shadow: 0 0 5px rgba(#febd69, #ffbb00, #febd69, 1);
    padding: 3px 0px 3px 3px;
    border: 1px solid #febd69;
    transition: all 0.30s ease-in-out;
}


br {
    display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 0px; /* change this to whatever height you want it */
}

.login-btn{
    width: 70px;
    height: 30px;

    padding: 8px 12px;

    background-color: #382110;
    border: 1px solid #382110;

    color: white;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;

    border-radius: 3px;

    cursor: pointer;
    line-height: 1;
} 




