/* ******* Start global rules ********* */
*{
    box-sizing: border-box;
}

/* ******* End global rules ********* */

.homepage-wrapper{
    display: flex;
}

.homepage-wrapper .horizontal-layout{
    flex:1;
    flex-direction: row;
}

.homepage-wrapper .vertical-layout{
    flex:1;
    flex-direction: column;
}

.message-wrapper{
    position: absolute;
    width: 400px;
    height: 100%;
    top: 30%;
    left: 20%;
}

.homepage-wrapper .header{
    background-image: linear-gradient(to right, #d2e1da, #d8e9f0, #d2e1da);
    height:auto;
    box-sizing: border-box;
}

/* ************************* sec02 *********************** */

.homepage-wrapper .sec02{
    padding: 15px 0px;
    height:80px;
    border-bottom: solid 0.5px #bfc9cc;
}

.homepage-wrapper .sec02 .logo-wrapper{
    flex:7;
}

.homepage-wrapper .sec02 .logo-wrapper .logo {
    margin-top: 0px;
    color:#48a3c6;
}

.homepage-wrapper .sec02 .logo-wrapper .logo span {
    font-weight: 1000;
    font-family: Arial, Helvetica, sans-serif;
    color:#ff9900;
}

.homepage-wrapper .sec02 .login-wrapper{
    flex:5;
}

/* ************************* sec03 *********************** */
.homepage-wrapper .sec03{
    height: 370px;
    padding: 15px 0px;
    box-sizing: border-box;

}
.homepage-wrapper .sec03 .main-banner-wrapper{
    flex:8;
}

.homepage-wrapper .sec03 .main-banner-wrapper .mainbanner{
   width: 80%;
   height: auto;
}

.homepage-wrapper .sec03 .signup-wrapper{
    flex:4;
    padding-left: 70px;
    box-sizing: border-box;
}

.homepage-wrapper .header .signup-wrapper .oauth-box{
    position: relative;
    z-index: 1;
    top: 30%;
}

.sec04{
    margin-top: 20px;
}

.sec05{
    height: 350px;
    margin-bottom: 210px;
}

.footer{
  position: relative;
  width: 100%;
  bottom: 0;
}


@media (max-width:767px){
    .homepage-wrapper .header{
        flex-direction: column;
        height: 450px;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 0px 0px;
        box-sizing: border-box;
    }

    .homepage-wrapper .sec02{
        flex-direction: column;
        padding-top: 0px; 
        height: 140px;
    }
    .homepage-wrapper .sec02 .logo-wrapper{
        height: 70px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    .homepage-wrapper .sec02 .login-wrapper{
        height: 70px;
        padding-bottom: 10px;
        box-sizing: border-box;
    }
    /* ************************* */
    .homepage-wrapper .sec03{
        height: 300px;
    }
    .homepage-wrapper .sec03 .mainbanner{
        display: none;
    }
    .homepage-wrapper .sec03 {
        height: 250px;
        flex-direction: column;
        padding-left: 0px;
        padding-top: 20px;
    }
    .homepage-wrapper .sec03 .signup-wrapper{
        width: 100%;
        padding-left: 0px;
        padding-top: 0px;
        margin-top: 0px;
        padding-top: 0px;
        float: left;    
    }
}