.dropmenu-item{
    display: block;
}


.dropdown-container{
    padding-left: 5%;
    padding-right: 5%;
}

.dd-title{
    /* display: inline; */
    transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #111!important;
    font-family: "Amazon Ember",Arial,sans-serif;
    cursor: pointer;
}

.dd-title:click{
    color: #c45500;
    color: red;
    color: #c45500;

}

.dd-icon{
    /* display: inline; */
    float: right;
    font-size: 20px;
    font-weight: bold;
    color: #c45500;
}

.dd-items{
    padding-left: 15%;
    padding-right: 15%;
}