.signup-btn{
    background-color: #fdd05f;
    border: 1px solid #fdd05f;
    border-radius: 3px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    cursor: pointer;
    line-height: 1;
    padding: 8px 12px;
    width: 70px;

} 

.error {
    color:red;
    font-size: 10px;
}

.inputError {
    border-color: red;
    background-color: pink;
}

.input-element{
    margin-bottom: 15px;
}

.signup-input{
    width:250px;
    height: 30px;
    padding: 1px 0px;

    border-radius: 3px;
    border-width: 2px;
    border-style: inset;
    border:#DCD6CC 1px solid;

    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-transform: none;
    text-indent: 10px;

    cursor: text;
}

.error {
    color:red;
    font-size: 10px;
}

.inputError {
    border-color: red;
    background-color: pink;
}

.input-element{
    margin-bottom: 15px;
}