.signup-btn{
    background-image: linear-gradient(to bottom,#faebc7 ,#f0c24e );
    border: 1px solid #be993b;
    border-radius: 3px;
    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    font-size: 14px;
    cursor: pointer;
    line-height: 1;
    padding: 8px 12px;
    width: 75px;

} 

.signup-input{
    width:280px;
    height: 30px;

    border-radius: 3px;
    border-width: 1px;
    border-style: inset;
    border:#DCD6CC 1px solid;

    padding: 1px 0px;

    font-family: "Lato", "Helvetica Neue", "Helvetica", sans-serif;
    text-transform: none;
    text-indent: 10px;

    cursor: text;
}

.signup-input:focus {
    box-shadow: 0 0 5px rgba(#febd69, #ffbb00, #febd69, 1);
    padding: 3px 0px 3px 3px;
    border: 1px solid #febd69;
    transition: all 0.30s ease-in-out;
}


.input-element{
    margin-bottom: 15px;
 }

.error {
    color:red;
    font-size: 10px;
}

.inputError {
    border-color: red;
    background-color: pink;
}
