.wrapper {
    height: 1300px;
}

.header{
    background-image: linear-gradient(to left,#e2e0d1 ,#fafbf6 ,#e2e0d1);
    height: 450px;
}

/* ************* section 1 **************** */
.sec01 {
    height: 100px;
}

.sec01 .logo {
    margin-left: 100px;
    margin-top: 20px;
}


/* ************* section 2 **************** */
.sec02 {
    height: 350px;
}

.sec02 .headline {
    margin-top: 50px;
}

.sec02 .register-box .signup-wrapper{
    height: 250px;
}


.sec02 .register-box .third-party-signin-box{
    height: 50px;
    position: absolute;
    bottom: 33px;
    left: 25px;
}

/* ************* section 3 **************** */
.sec03 {
    margin-top: 30px;
}

.sec03 .ad{
    height:600px;
    width: 400px;
    margin-left: 100px;
}