.UploadGallery { 
    padding-top: 20px;
}

.UploadGallery h6{
    font-size: 15px;
    font-weight: 500;
 }

.UploadGallery img{
    max-width:150px!important;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
.UploadGallery button{
    margin: 0px 0px 0px -25px!important;
}

.UploadGallery > div { 
    width: 100%; 
    height: auto; 
    overflow-x: scroll;
    margin-top: 10px;
    padding-bottom: 10px;
}

.UploadGallery > div > div {
    margin-right: 15px;
}




