

.button{
    background-color: #222222;
    color: white;
    cursor: pointer;  
    font-weight: bold;
    width:100%;
    border: none;
    height:40px;
    font-size: 17px;
}

.button:hover{
    background-color: #707070;
    color: #fefefe;
}

