
.box{
    height:300px;
    background-color: #f4f2e9;
    border-bottom: 50px solid #cccab4;

}

.box1{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box2{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


.label .title{
    position: absolute;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 20px 0 5px 0;
    font-size: 18px;
}

.gallery-img {
    width: 150px;
    height: 220px;
    object-fit: cover;
    margin-right: 20px;
    margin-top: 50px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));


}


