 .ReviewForm{
    display: flex;
    align-items: flex-start;
    text-align: start;
    margin-bottom: 40px;
    width: 81%;
}



.Form{
  border: solid 1px #e8e8e8;
  background-color: #f7f5fa;
  padding: 0px 15px 10px 15px;
}

.Form input[type="radio"] {
    display: none;
}

.Form textarea {
    width: 100%;
    text-indent: 5px;
    padding-top: 7px;
    border: none;
    color: rgb(32, 32, 32);
    font-size: 14px;
    height: 50px;
}
.Form textarea:focus {
    border: none;
    outline: none;
    height: 80px;
}

.SubmitReviewBtn,
.LoadingBtn{
    border-radius: 3px;
    margin-top: 10px;    
    font-weight: 500;    
    vertical-align: middle;
    align-self: flex-end;
    color: white;
    border: none;
    outline: none;
 }
.SubmitReviewBtn  {
    background-color: #4267b2;
    width: 80px;
    height: 30px;
    cursor: pointer;
}
.SubmitReviewBtn:hover {
    background-color: #365899;
}
.LoadingBtn {
    background-color:#9cb4d8;
    width: 70px;
    height: 25px;
    border: none;
    cursor: progress;
}
.SubmitReviewBtn:hover,
.SubmitReviewBtn:focus,
.SubmitReviewBtn:active,
.LoadingBtn :hover,
.LoadingBtn :focus,
.LoadingBtn :active
 {
    outline: none;
    box-shadow : none,
}


  .TextContainer{
    background-color: white;
    border: solid 1px #e8e8e8;
    padding: 5px 10px;
    z-index: 1;
  }