.category-show {
    height: 480px;
    display: flex;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 7px;
}

.categories,
.main-banner
{
    flex:1;
}

.vertical-layout,
.horizontal-layout {
  display: flex;
  flex:1;
}

.horizontal-layout {
    flex-direction: row;
}

.vertical-layout {
    flex-direction: column;
}
  
.main-banner{
    padding-right: 15px;
}

.category-show img{
    max-width: 100%;
    max-height: auto;
    display: block; 
    padding: 10px 10px 10px 10px;
}

.category-show p{
    margin-top: -10px;
    margin-bottom: 0px;
}

.category-show a{
    text-decoration: none;
    color: teal;
    font-size: 20px;
    line-height: 1.8571428571rem;
    border-top:none;
    overflow:hidden;
    margin-bottom: 0px;
}

.category-element{
    flex:1;
    text-align: center;
}

.category-element img{
    max-width: 100%;
    max-height: 100%;
    display: block; 
    padding: 10px 10px 10px 0px;
    box-sizing:border-box;
}



@media all and (max-width: 768px) {
    .category-show.horizontal-layout {
      flex-direction: column;
    }
}

